In [1]:
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta, date
import warnings
import matplotlib.pyplot as plt

warnings.simplefilter(action='ignore', category=FutureWarning)

stock_name_list = []
while len(stock_name_list) < 6:
    stockname = input("Enter the etf or stock code ex. QQQ, MSFT, etc. of choice, enter q when done, max size of 5").upper()
    if stockname == 'Q':
        break
    else:
        stock_name_list.append(stockname)
        continue

syear = int(input("Enter the year started"))
smonth = int(input("Enter the month 1-12"))
sday = int(input("Enter the day 1-31"))

sdate = datetime(syear, smonth, sday)
add = timedelta(days = 1)
edate = sdate + add
current_date = datetime.now()

def change_time(sdate, edate, add):
    sdate += add
    edate += add
    return sdate, edate

stocklist = []
for stockname in stock_name_list:
    stock = yf.download(stockname, start=sdate, end=current_date, interval="1d", progress=False)
        
    stock['Average Price'] = (stock['High'] + stock['Low']) / 2
    stock["Percent Change"] = (stock["Average Price"].pct_change() * 100)
    stock.drop(["Close", "Open", "Volume"], axis = 1, inplace = True)

    stocklist.append(stock)

for stock in stocklist:
    display(stock)

Enter the etf or stock code ex. QQQ, MSFT, etc. of choice, enter q when done, max size of 5 qqq
Enter the etf or stock code ex. QQQ, MSFT, etc. of choice, enter q when done, max size of 5 soxx
Enter the etf or stock code ex. QQQ, MSFT, etc. of choice, enter q when done, max size of 5 dis
Enter the etf or stock code ex. QQQ, MSFT, etc. of choice, enter q when done, max size of 5 aapl
Enter the etf or stock code ex. QQQ, MSFT, etc. of choice, enter q when done, max size of 5 voo
Enter the etf or stock code ex. QQQ, MSFT, etc. of choice, enter q when done, max size of 5 q
Enter the year started 2025
Enter the month 1-12 5
Enter the day 1-31 15

Price             High         Low Average Price Percent Change
Ticker             QQQ         QQQ
Date
2025-05-15  520.070714  513.334786    516.702750            NaN
2025-05-16  519.841608  515.257958    517.549783       0.163930
2025-05-19  520.668680  512.408171    516.538426      -0.195413
2025-05-20  519.074309  514.819501    516.946905       0.079080
2025-05-21  521.136882  509.418766    515.277824      -0.322873
...                ...         ...           ...            ...
2026-01-05  620.809998  616.719971    618.764984       0.367394
2026-01-06  624.020020  618.539978    621.279999       0.406457
2026-01-07  627.940002  622.559998    625.250000       0.639004
2026-01-08  623.419983  617.799988    620.609985      -0.742106
2026-01-09  627.890015  619.059998    623.475006       0.461646

[165 rows x 4 columns]

Price             High         Low Average Price Percent Change
Ticker            SOXX        SOXX
Date
2025-05-15  213.766620  209.700087    211.733354            NaN
2025-05-16  212.334875  209.471391    210.903133      -0.392107
2025-05-19  211.171585  206.975792    209.073689      -0.867433
2025-05-20  210.406005  208.208691    209.307348       0.111759
2025-05-21  212.672925  205.166248    208.919587      -0.185259
...                ...         ...           ...            ...
2026-01-05  322.640015  316.880005    319.760010       2.426450
2026-01-06  329.149994  322.000000    325.574997       1.818547
2026-01-07  325.950012  322.109985    324.029999      -0.474544
2026-01-08  324.190002  316.399994    320.294998      -1.152671
2026-01-09  330.670013  321.109985    325.889999       1.746828

[165 rows x 4 columns]

Price             High         Low Average Price Percent Change
Ticker             DIS         DIS
Date
2025-05-15  111.615622  110.359517    110.987569            NaN
2025-05-16  112.199175  110.201266    111.200221       0.191600
2025-05-19  111.754089  110.676015    111.215052       0.013337
2025-05-20  112.159614  110.587002    111.373308       0.142298
2025-05-21  111.259557  108.925370    110.092463      -1.150046
...                ...         ...           ...            ...
2026-01-05  116.029999  111.379997    113.704998       1.044162
2026-01-06  114.760002  113.110001    113.935001       0.202281
2026-01-07  114.970001  112.510002    113.740002      -0.171150
2026-01-08  114.989998  112.550003    113.770000       0.026375
2026-01-09  115.980003  113.900002    114.940002       1.028392

[165 rows x 4 columns]

Price             High         Low Average Price Percent Change
Ticker            AAPL        AAPL
Date
2025-05-15  212.512590  209.099762    210.806176            NaN
2025-05-16  212.123407  209.329287    210.726347      -0.037868
2025-05-19  209.039881  203.830847    206.435364      -2.036282
2025-05-20  208.032018  204.599243    206.315630      -0.058000
2025-05-21  206.605002  200.288315    203.446659      -1.390574
...                ...         ...           ...            ...
2026-01-05  271.510010  266.140015    268.825012      -1.680560
2026-01-06  267.549988  262.119995    264.834991      -1.484245
2026-01-07  263.679993  259.809998    261.744995      -1.166763
2026-01-08  259.290009  255.699997    257.495003      -1.623715
2026-01-09  260.209991  256.220001    258.214996       0.279615

[165 rows x 4 columns]

Price             High         Low Average Price Percent Change
Ticker             VOO         VOO
Date
2025-05-15  538.509518  533.146753    535.828136            NaN
2025-05-16  541.701354  536.973019    539.337186       0.654884
2025-05-19  542.672908  535.862861    539.267885      -0.012849
2025-05-20  541.295001  537.260509    539.277755       0.001830
2025-05-21  539.936933  530.153065    535.044999      -0.784893
...                ...         ...           ...            ...
2026-01-05  634.039978  631.229980    632.634979       0.668324
2026-01-06  636.679993  632.530029    634.605011       0.311401
2026-01-07  638.219971  633.929993    636.074982       0.231636
2026-01-08  635.099976  632.239990    633.669983      -0.378100
2026-01-09  639.440002  633.799988    636.619995       0.465544

[165 rows x 4 columns]

In [ ]:
user_standings = pd.DataFrame(index = stocklist[0].index)
user_standings["Money In"] = 0.0

amount = 0
stock["Money In"] = 0.0
stock["Shares Owned"] = 0.0
total_shares_list = [0.0] * len(stocklist)


while True:
    print("Enter the date and money inputed, enter q for year when done")
    year = input("Enter the year")
    
    if year == "q":
        break
    else:
        year = int(year)
    month = int(input("Enter the month 1-12"))
    day = int(input("Enter the day 1-31"))
    added = int(input("Enter money put in ex. 50"))
    amount += added
    
    for i, stock in enumerate(stocklist):
        
        price = stock.loc[datetime(year, month, day), "Average Price"]
        bought = added / price
        total_shares_list[i] += bought
    
        mask = stock.index >= datetime(year, month, day)
        stock.loc[mask, "Shares Owned"] = float(total_shares_list[i])
        stock.loc[mask, "Money In"] = amount


for stock in stocklist:
    stock["Equity"] = (stock["Shares Owned"] * stock["Average Price"])
    stock["Total Return"] = round((stock["Equity"] - stock["Money In"]), 2)
    plt.plot(stock["Total Return"])

plt.legend(stock_name_list)
plt.show()

Enter the date and money inputed, enter q for year when done

Enter the year 2025
Enter the month 1-12 5
Enter the day 1-31 16
Enter money put in ex. 50 400

Enter the date and money inputed, enter q for year when done

Enter the year 2025
Enter the month 1-12 6
Enter the day 1-31 10
Enter money put in ex. 50 500

Enter the date and money inputed, enter q for year when done

Enter the year 2025
Enter the month 1-12 7
Enter the day 1-31 23
Enter money put in ex. 50 2000

Enter the date and money inputed, enter q for year when done

Enter the year 2025
Enter the month 1-12 8
Enter the day 1-31 7
Enter money put in ex. 50 20

Enter the date and money inputed, enter q for year when done

Enter the year 2025
Enter the month 1-12 10
Enter the day 1-31 16
Enter money put in ex. 50 800

Enter the date and money inputed, enter q for year when done

Enter the year 2025
Enter the month 1-12 11
Enter the day 1-31 5
Enter money put in ex. 50 5000

Enter the date and money inputed, enter q for year when done

Enter the year 2025
Enter the month 1-12 12
Enter the day 1-31 18
Enter money put in ex. 50 200

Enter the date and money inputed, enter q for year when done

Enter the year 2026

In [ ]:
final_return = 0
for stock in stocklist:
    final_return += stock["Total Return"].iloc[-1]
print("Your final return amount is: $", final_return)